$color_brown: #EAB96A;
$color_gold: #CDB47B;
$color_white: #FFFFFF;
$color_dark: #000000;
$color_dark2: #2B2B2B;
$color_gray: #ADADAD;
$color_gray_light:#C6C6C6;
$light: #DDDDDD;
$color_blue: #485260;
$color_green: #6A9C00;
$color_red: #C20000;